/* > Widget.css
__________________________*/

/* > Widget Destaque
__________________________*/
div.widget_destaque div.hlTabs{
	background:none;
	border:0;
	padding:0;
}
div.widget_destaque div.hlTabs ul.ui-tabs-nav{
	background:none;
	border:none;
	margin:0;
	padding:0;
	margin-left: 39px;
}
div.widget_destaque div.hlTabs ul.ui-tabs-nav li{
	background:none;
	border:none;
	list-style:none;
	float:left;
	margin:0;
}
div.widget_destaque div.hlTabs ul.ui-tabs-nav li a{
	color:#fff;
	font-size:18px;
	font-weight: bold;
	width:5px;
	height:5px;
	font-weight:normal;
	margin-right:5px;
	padding:0 5px 2px;
	text-decoration:none;
	position: relative;
	top: 25px;
}
div.widget_destaque div.hlTabs ul.ui-tabs-nav li.ui-tabs-selected a,
div.widget_destaque div.hlTabs ul.ui-tabs-nav li.ui-state-hover a{
	color:#797979;
}

div.widget_destaque div.hlTabs ul.ui-tabs-nav li.ui-tabs-selected a{
	background:#ededed;
}

div.widget_destaque div.hlTabs div.ui-tabs-panel{
	color:#484848;
  	padding:0;
}
div.widget_destaque div.hlTabs div.ui-tabs-panel .thumb{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#f5f5f5;
	border:1px solid #d0d0d0;
	display:block;
	height:125px;
	margin-bottom:15px;
	overflow:hidden;
	text-align:center;
}
div.widget_destaque div.hlTabs div.ui-tabs-panel .thumb img{
	border:none;
}
div.widget_destaque div.hlTabs div.ui-tabs-panel div.categories{
	margin-bottom:10px;
}
div.widget_destaque div.hlTabs div.ui-tabs-panel div.categories a{
	color:#237ba3;
	font-size:12px;
	text-decoration:none;
}
div.widget_destaque div.hlTabs div.ui-tabs-panel div.categories a:hover{
	font-weight:bold;
}
div.widget_destaque div.hlTabs div.ui-tabs-panel h2 a{
	color:#fff;
	display:block;
	font-size:15px;
	margin-bottom:10px;
	text-decoration:none;
	position: relative;
	top: -44px;
	margin-left: 200px;
	background-color:#666;
	opacity: 0.8;
	font-weight: normal;	
}
